  header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align vertically */
    max-width: 1200px; /* Set a max width to limit the header's width */
    width: 100%; /* Make it responsive */
    margin: 0 auto; /* Center the header */
    padding: 1em 2em; /* Add some padding */
  }
  
  .logoImage {
    padding: 1em;
  }
  
  .headerLinks {
    display: flex;
    gap: 1em; /* Add space between the links */
  }
  
  .headerLinks a {
    padding: 0.5em 1em; /* Consistent padding for all links */
    text-decoration: none; /* Optional: Remove underline */
  }
  
  body {
    overflow-x: hidden; /* Disable horizontal overflow */
  }
  